<div class="landing-container">
  <header>
    <h1>La Hotte de la Famille</h1>
    <p>Sélectionnez un profil pour voir sa liste</p>
  </header>

  <div class="grid-container">
    @for (member of familyMembers(); track member.id) {
      <div class="card profile" (click)="goToMember(member.id)">
        <button class="edit-btn" (click)="editMember($event, member)">
          &#8942;
        </button>
        <button class="delete-btn" (click)="deleteMember($event, member.id)">
          &times;
        </button>

        <div class="avatar-container">
          @if (member.avatar_url) {
            <img [src]="member.avatar_url" class="profile-img" alt="Avatar">
          } @else {
            <div class="initial" [style.background-color]="getRandomColor()">{{ member.name.charAt(0) }}</div>
          }
        </div>

        <span class="name">{{ member.name }}</span>
      </div>
    }

    <div class="card add-card" (click)="openAddModal()">
      <div class="icon-plus">+</div>
      <span class="name">Ajouter</span>
    </div>
  </div>
</div>

<dialog #profileModal class="modal" (click)="onBackdropClick($event)">
  <div class="modal-content">
    <h2>Modifier le Profil</h2>

    <div class="form-group">
      <label>Prénom</label>
      <input type="text" [(ngModel)]="selectedMember.name" placeholder="Prénom">
    </div>

    <div class="form-group">
      <label>Adresse mail</label>
      <input type="mail" [(ngModel)]="selectedMember.mail"
             #email="ngModel"
             name="mail"
             email
             placeholder="Mail (pour recevoir des notifications)">
    </div>

    <div class="form-group">
      <label>Photo de profil</label>
      <div class="file-upload">
        <input type="file" (change)="onFileSelected($event)" accept="image/*">
      </div>
    </div>

    <div class="modal-actions">
      <button class="btn-cancel" (click)="closeModal()">Annuler</button>
      <button class="btn-save" (click)="saveProfile()" [disabled]="email.invalid">Enregistrer</button>
    </div>
  </div>
</dialog>
